/* font styling based on https://type-scale.com/ */
@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html {
  font-size: 16px;
  display: block;
  height: 100%;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

header {
  position: static;
  width: 100%;
  height: 48px;
  background-color: #333;
  padding: 12px;
  color: white;
}

header a {
  color: #fff;
  text-decoration: none;
}

nav {
  float: right;
  display: flex;
}

footer {
  position: fixed;
  top:100%;
  left:50%;
  transform: translate(-50%,-100%);
  padding: 0 0 12px 0;

  width: 100%;
  height: 48px;
  background-color: #333;
  padding: 12px;
  color: white;
  text-align: center;
}

/* Input css */

.input-label {
  transition: 1s;
}

input[type=text],input[type=email],input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4945a0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.createaccount {
  width: 100%;
  background-color: #FFFFFF;
  color: #4945a0;
  padding: 14px 0;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

input:focus {outline:0;}

input[type=submit]:hover {
  background-color: #504CAF;
}

.input-container-container {
  position: relative;
}

.input-container {
  border: solid 1px #ccc;
  border-radius: 4px;
  position: relative;
  padding: 0 10px;
  margin: 0px;
}

.input-container.focus {
  border: solid 1px #aaa;
}

.input-container input {
  border: none;
  margin: 0;
  font-size: 16px;
  outline: 0;
  padding: 16px 0 10px;
}

.input-container label {
  pointer-events: none;
  padding: 0 8px;
  background-color: white;
  font-size: 16px;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 12px) scale(1);
  transition: all .1s ease-in-out;
}

.input-container.active label {
  transform: translate(0, -8px) scale(.75);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  background: white;
  margin: 0 0 0 0;
}
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  padding: 12px;
}


.grid [class*="col-"]:last-of-type {
  padding-bottom: 0;
}

.module {
  padding: 20px;
  background: #eee;
}

/* Opt-in outside padding */
.grid-pad {
  padding: 20px 0 20px 20px;
}
.grid-pad [class*="col-"]:last-of-type {
  padding-right: 20px;
}

.no-pad-bottom {
  padding-bottom: 0px;
}

.no-pad {
  padding: 0px;
}

a {
  color: #4945a0;
}

.application {
  height: 100%;
}

.note-list, .note-content {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}

.note-list {
  height: 100%;
  border-right: #333 1px solid;
}

.note-content {
  height: 100%;
}

/* mobile adjustments */
@media (max-width: 640px) {
  .sign-box {
    padding: 24px;
    margin: 0 0;
    position: inherit;
    top: 0%;
    left: 0%;
    width: 100%;
    border: none;
    border-radius: 4px;
  }

  .col-1 {
    width: 100%;
  }

  .col-1-2 {
    width: 100%;
  }
  
  .col-2-3 {
    width: 100%;
  }
  
  .col-1-3 {
    width: 100%;
  }
  
  .col-1-4 {
    width: 100%;
  }
  
  .col-3-4 {
    width: 100%;
  }
  
  .col-1-8 {
    width: 100%;
  }

  .note-content-hidden {
    display: none;
  }

  .note-list-hidden {
    display: none;
  }

}

/* desktop */
@media (min-width: 641px) {
  .sign-box {
    padding: 24px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    border: #ccc 1px solid;
    border-radius: 4px;
    transform: translate(-50%, -50%);
  }

  .col-1 {
    width: 100%;
  }
  
  .col-2-3 {
    width: 66.66%;
  }
  
  .col-1-3 {
    width: 33.33%;
  }
  
  .col-1-2 {
    width: 50%;
  }
  
  .col-1-4 {
    width: 25%;
  }
  
  .col-3-4 {
    width: 75%;
  }
  
  .col-1-8 {
    width: 12.5%;
  }

  .note-content-hidden {
    display: block;
  }

  .note-list-hidden {
    display: block;
  }

}

.ui-state-success {
  border: #4945a0 1px solid;
  border-radius: 4px;
  background-color: #4945a0;
  color: white;
}

.ui-icon-check {
  color: #ffffff;
}

.note-list-entry {
  border-bottom: #333 1px solid;
  padding: 12px;
  cursor: pointer;
}

.note-list-add {
  border-bottom: #333 1px solid;
  padding: 12px;
  cursor: pointer;
}

.note-list-entry.active {
  background-color: #333;
  color: #fff;
}

.note-list-add.active {
  background-color: #333;
  color: #fff;
}


.note-list-title {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.note-list-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.note-list-add-text {
  pointer-events: none;
  user-select: none;
}

.note-list-date {
  text-align: right;
  color: #666;
  pointer-events: none;
  user-select: none;
}

.title {
  padding-top: 64px;
  text-align: center;
}

.title-desc {
  padding-top: 24px;
  text-align: center;
}

.note-content-title {
  font-weight: bold;
  display: flex;
}

.note-content-edit {
  float: right;
  cursor: pointer;
  color: #4945a0;
  margin-left: 24px;
}

.note-content-date {
  color: #666;
}

.editable {
  padding: 12px 6px 12px 6px;
  border: #ccc 1px solid;
  background-color: #ddd;
  border-radius: 4px;
}